@media screen and (max-width: 935px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }

    .decoration {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    header {
        height: 420px;
    }

    header .logo {
        transform: scale(0.7);
        margin: 0;
    }

    header .container {
        padding: 0 3%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .profile {
        font-size: 14px;
        margin-top: 0;
    }

    header .profile .profile__info {
        display: block;
        text-align: center;
    }

    header .profile .profile__info .profile__username {
        margin-right: 0;
        margin-bottom: 17px;
    }
    
    header .profile__stats, header .profile__date-select {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    header .profile__date-select {
        display: block;
    }
    header .profile__date-select .profile__date-select__input {
        margin: 7px 0;
        width: 100%;
        display: block;
    }

    header .profile__date-select .profile__date-select__input input {
        margin-left: 0;
        width: 100%;
    }
    header .profile .profile__stats > p {
        margin-right: 0;
    }

    main {
        margin-top: 420px;
        font-size: 12px;
    }

}

@media screen and (max-width: 630px) {
    .material-icons {
        font-size: 17px!important;
    }
    .content.display_grid .container {
        width: auto;
        justify-content: center;
    }

    .content.display_list .content__item {
        height: auto;
    }
    .content.display_list .content__item-img {
        display: inline-block;
        min-width: 120px;
        min-height: 120px;
        margin-right: 20px;
    }

    .content.display_list .content__item-info {
        display: inline-block;
    }
    .content.display_list .content__item-info__data {
        width: 100%;
        margin: 0;
    }

    .content.display_list .content__item-info .content__item-info__data p {
        font-size: 12px;
    }
    .content.display_list .content__item-info .content__item-info__data p:first-child {
        margin: 3px 0 5px 0;
        font-size: 12px;
    }
    

}